<div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div *ngIf="tokenService.userSignedIn()" class="user-data-container col-sm-5">
        <img src="{{user.image}}" class="user-image" alt="google profile image" />
        <div class="user-actions-container">
          <p>{{user.name}}</p>
          <a routerLink="signout"><i class="fas fa-sign-out-alt"></i> Logout </a>
        </div>
      </div>
      <div class="col-sm-7 d-flex align-items-center">
        <h1 class="page-title">{{title}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <ul *ngIf="tokenService.userSignedIn()" class="col-sm-3 lateral-menu">
      <li class="d-flex align-items-center navigation-link">
        <a routerLink="dashboard">
          <i class="fas fa-tachometer-alt"></i>
          Dashboard
        </a>
      </li>
    </ul>
    <div class="con-sm-9">
      <router-outlet (activate)="onRouterOutletActivate($event)"></router-outlet>
    </div>
  </div>
</div>


